<?xml version="1.0" encoding="iso-8859-1"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5" >
    <servlet>
        <servlet-name>VotingMach</servlet-name>
        <servlet-class>VotingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VotingMach</servlet-name>
        <url-pattern>/VotingMach</url-pattern>
    </servlet-mapping>
</web-app>
