Requirements for the voting system
What are system objectives?
System objectives are 
-provide services for organizing and conducting an opinion expressing process (voting)
-support every person involved: admin, candidates, and voters
-user-friendly interaction (for voter and admin) 
-generation of vote tally 

Functional
1. Equality of Access -> should allow voters to vote EASILY
2. Easy to  use interface
3. Flexibility -> different types of question formats
4. Accuracy -> count all votes accurately
5. Recounts must be possible
6. Scalability

Democratic system in that only people who are eligible can vote and ensures that they can only vote once
*No voter should be allowed to vote more than the alloted number

Security
1. Data -> Vote is recorded as intended and should not be able to be changed. If changed/deleted, should notify.
2. Reliability -> Should work without loss of data-- especially votes
3. 

Automated tester platforms
1. Katalon -- free
    1. recommended for advanced scripting
    2. easy to set up and use

2. Apache JMeter -- Open-source
    1. Highly extendable core(friendly to plugins, scripts, and timers)
    2. Integration through libraries for Marven, Gradle, and Jenkins

3. Selenium -- Open-source
    1. Highly extendable through libraries and API

4. Protractor -- free
    1. supports angular-specific locator strategies
    2. frameworks (Jasmine, mocha, serenity/js, and cucumber)

5. Automation Anywhere -- free (community edition)
    1. flexible deployment

All support every OS 
All support Java
All are flexible and maintainable