/*<!-- Project Name: Pacific Trails Resort (HW30)
Author: Emilie Blecker
Date Last Modified: 5/9/2019-->*/

 { box-sizing: border-box; }
body
{
    color: #000003;
    background-color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    /*list-style-position: inside;*/
}

header
{
    background-color: #ffffff;
    color: #f13b3b;
    font-family: Georgia, serif;
}

/*h1
{ padding-left: 2em; padding-top: 1em;}

nav
{
    float: left;
    width: 160px;
    font-weight: bold;
    padding: 0, 0, 0, 0;
}

nav a{text-decoration: none;}

main
{
    background-color: #ffffff;
    margin-left: 170px;
    padding-top: .8em;
    padding-bottom: 1px;
}

h2, h3, dt, p, ul, li{padding-left: 1.5em;}

h2
{ color:   #f50a0a; font-family: Georgia, serif;}

h3
{ color: #000033;}


dt
{color: #000033; font-weight: bold;}




footer
{
    background-color: #ffffff;
    margin-left: 170px;
    font-size: .7em;
    font-style: italic;
    text-align: center;
    padding: 3em, 3em, 3em, 3em;
}

 
#wrapper
{
    background-color: #f8f8fc;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 3px 2px 4px 0px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

nav a:link {color: #770707;}
nav a:visited {color: #052536;}
nav a:hover {color: #cf0707;}

nav ul{ list-style-type: none; padding-left: 1em;}

table
{
    width: 90%;
    border: 1px solid #3399CC;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-collapse: collapse;
}

td, th{padding: 5px; border: 1px solid rgb(255, 255, 255);}
td{text-align: center;}

tr:nth-child(even) {background-color: #f5fafc; }

.text{text-align: left;}

header, nav, main, footer { display: block; }
#mobile { display: none; }
#desktop { display: inline; }

@media only screen and (max-width: 1024px) 
{
    body{margin: 0; padding: 0; background-image: none; }

    #wrapper
    {   
        width: auto;
        min-width: 0;
        box-shadow: none;
        margin: 0;
    }

    h1{margin: 0;}
    nav{ float: none; width: auto; padding: 0.01em 1em 0.01em 1em;}
    nav li{ display: inline-block;}
    nav a{padding-right: 2em;}
    main{ margin-left: 0; font-size: 90%; padding: 1em;}
    footer{margin: 0;}
}

@media only all and (max-width: 768px) 

{
    h1{height: 100%; font-size: 1.5em; padding-left: 0.3em;}
    nav{padding: 0;}
    nav a{display: block; padding: 0.2em; font-size: 1.1em; border-bottom: 1px solid #330000;}
    nav ul{margin: 0; padding: 0;}
    nav li{display: block; margin: 0; padding: 0;}
    main{padding: 0.1em 0.6em 0.1em 0.4em;}
    footer{padding: 0;}
    #mobile { display: inline; }
    #desktop { display: none; } 
}

form {
    font-family: Arial, sans-serif;
    padding: 2em; }
label { float: left;
    display: block;
     width: 8em;
     padding-right: 1em; }
input, textarea { margin-bottom: 1em;
               display: block; }
#mySubmit { margin-left: 10em; }
.required{color: #ff3800}
*/